.ic-bubble-mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  backdrop-filter: blur(10px);
  background-color: rgba(0,0,0,.4);
  opacity: 1;
  /* transition: opacity .3s cubic-bezier(1.0, 0.5, 0.8, 1.0); */
  /* opacity: 0 */
}

.ic-bubble-mask.bubblefade-enter-active, .ic-bubble-mask.bubblefade-leave-active {
  transition: opacity .3s cubic-bezier(1.0, 0.5, 0.8, 1.0)
}
.ic-bubble-mask.bubblefade-enter, .ic-bubble-mask.bubblefade-leave-to {
  opacity: 0
}

.ic-bubble-content-down {
  position: absolute;
  padding: 0 8px;
  border-radius: 5px;
  z-index: 1999;
  background-color: #fff;
  transform: translate3d(0, 0, 0);
  transform-origin: 100% 100% 0px;
}
.ic-bubble-content {
  position: absolute;
  padding: 0 8px;
  border-radius: 5px;
  z-index: 1999;
  background-color: #fff;
  transform: translate3d(0, 0, 0);
  transform-origin: 100% 0 0 /*设置缩放中心*/
}
.bubblescale-enter-active {
  animation: bounce-in .3s
}
.bubblescale-leave-active {
  animation: bounce-in .3s reverse
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.ic-bubble-arrow {
  position: absolute;
  top: -4px;
  right: 16px;
  height: 8px;
  width: 8px;
  background: #fff;
  transform: rotate(45deg);
}
.ic-bubble-arrow-down {
  top: auto;
  bottom: -4px;
}

.ic-bubble-list li:first-child {
  border-top-color: transparent
}
.ic-bubble-list > li {
  height: 39px;
  line-height: 39px;
  border-top: 1px solid #ddd;
  padding: 0 8px;
}
