.ic-flexbox {
  width: 100%;
  display: flex;
  justify-items: center;
  flex-wrap: wrap;
}
.ic-flexbox-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-overflow: hidden;
}

.vertical {
  flex-direction: column;
}