

.ic-cells {
    background-color: #FFFFFF;
    line-height: 1.4;
    font-size: 17px;
    overflow: hidden;
    position: relative;
    &:before {
        content: " ";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        height: 1px;
        border-top: 1px solid #c7c7c7;
        color: #c7c7c7;
        transform-origin: 0 0;
        transform: scaleY(0.5);
    }
    &:after {
        content: " ";
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: 1px;
        border-bottom: 1px solid #c7c7c7;
        color: #c7c7c7;
        transform-origin: 0 100%;
        transform: scaleY(0.5);
    }
}

