.ic-radio {
    margin: 10px 0
}

.ic-radio-input{
    position: relative;
    height: 22px;
    float: left;
}
.ic-radio-control {
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    opacity: 0;
    margin: 0;
}
.ic-icon-check {
    font-size:22px;
}
.ic-icon-checked {
    color: #47c9bc;
    font-size:22px;
}
.ic-radio-label {
    line-height: 22px;
    display: block;
    margin-left: 37px;
}
.ic-radio-disable .ic-icon {
    color:#d1dbe5
}