.search-fade-enter-active, .search-fade-leave-active {
  transition: all 3s linear /*cubic-bezier(1.0, 0.5, 0.8, 1.0);*/
}
.search-fade-enter, .search-fade-leave-to {
  transform: scaleX(60px);
  opacity: 0;
}

.ic-search {
  z-index: 1;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  height: 30px;
  background: #47c9bc;
  color: white;
}

.ic-search .search-icon {
  padding: 0 20px;
  font-weight: 600;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, .1);
}
.ic-search .search-cancel {
  padding: 0 20px;
  font-weight: 600;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, .1);
}
.ic-search .search-input {
  z-index: 2;
  height: 100%;
  flex-grow: 1;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
}

.ic-search .search-input::-webkit-input-placeholder{ /* WebKit browsers */
  font-size: 15px;
  vertical-align: center;
  color: rgba(255, 255, 255, .5);
}
.ic-search .search-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-size: 15px;
  vertical-align: center;
  color: rgba(255, 255, 255, .5);
}
.ic-search .search-input::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-size: 15px;
  vertical-align: center;
  color: rgba(255, 255, 255, .5);
}
.ic-search .search-input:-ms-input-placeholder { /* Internet Explorer 10+ */
  font-size: 15px;
  vertical-align: center;
  color: rgba(255, 255, 255, .5);
}
.ic-search .search-input::-ms-clear { /* 清除ie自带删除按钮 */
  display: none
}
.ic-search .search-input:valid + .search-icon-clear { /* 选择required验证通过后的clear元素。 */
  display: inline
}

.ic-search .search-icon-clear {
  display: none;
  padding: 10px;
  font-size: 18px;
  color: rgba(255, 255, 255, .4);
}
