.ic-sliderbar {
  position: relative;
  margin: 16px 0;
  background-color: red;
  line-height: 1.15;
}
.ic-sliderbar .sliderbar-rail {
  position: absolute;
  width: 100%;
  background-color: blue;
  height: 2px;
}
.ic-sliderbar .sliderbar-handle {
  position: absolute;
  left: 50%;
  margin-left: -8px;
  margin-top: -8px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid #108ee9;
  background-color: #fff;
  box-sizing: border-box;
}
